<!DOCTYPE html>
<html>
    <head>
        <title> IoT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- Incluir Chart.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <body>
        <div class="container">
            <div class="row-container">
                <div class="light-devices">
                    {% for device in devices %}
                        {% if device.type == 'light' %}
                            <!-- Crear un toggleButton para dispositivos de tipo "light" -->
                            <input type="checkbox" id="toggleButton{{ device.id }}" onchange="toggleState(this)" device="{{ device.id }}" mac="{{ device.MAC }}">
                            <label for="toggleButton{{ device.id }}"></label>
                            <!-- Mandar referencia a java de este checkbox -->
                            <br></br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="temperature-devices">
                    {% for device in devices %}
                        {% if device.type == 'temperature' %}
                            <!-- Crear gráficos para dispositivos de tipo "temperature" -->
                            <div>
                                <canvas id="temperatureChart{{ device.id }}"></canvas>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="static/main.js"></script>
</html>