<!DOCTYPE html>
<html>
    <head>
        <title> IoT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- Incluir Chart.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <body>
        <div class="contenedor">
            <div class="dispositivo-luces">
                {% for device in devices %}
                    {% if device.type == 'light' %}
                        <div class="dispositivo-contenedor">
                            <label for="toggleButton{{ device.id }}" id="label-{{ device.id }}" class="device-label" data-default-name="Nuevo dispositivo">{{ device.name }}</label>
                            <input type="checkbox" id="toggleButton{{ device.id }}" onchange="toggleState(this)" device="{{ device.id }}" mac="{{ device.MAC }}">
                        </div>                          
                    {% endif %}
                {% endfor %}
            </div>
            <div class="dispositivo-sensores">
                {% for device in devices %}
                    {% if device.type == 'temperature' %}
                        <div class="dispositivo-contenedor">
                            <label for="temperatureChart{{ device.id }}" id="label-{{ device.id }}" class="device-label" data-default-name="Nuevo dispositivo">{{ device.name }}</label>
                            <canvas id="temperatureChart{{ device.id }}" height="300" width="300"></canvas>
                            <div class="temperature-image">
                                <img id="fireImage" src="/static/imagenes/fire.png" style="display:none;">
                                <img id="snowImage" src="/static/imagenes/snow.png" style="display:none;"> 
                                <canvas id="humedadChart{{ device.id }}" height="250" width="300"></canvas>
                                
                            </div>
                            
                        </div>
                    {% endif %}
                {% endfor %}  
            </div>
        </div>
    </body>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="static/main.js"></script>
</html>